@{
    ViewData["Title"] = "Home";
}

<div class="hero-container">

    <h1 class="hero-title">
        Report Infrastructure<br />
        Issues <span class="highlight-text">Faster & Easier</span>
    </h1>

</div>